@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities   {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    @apply overflow-hidden;
    font-family: "Inter", sans-serif;
  }
}
