@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    @apply overflow-hidden bg-zinc-50 dark:bg-zinc-900 text-zinc-950 dark:text-zinc-50;
    font-family: "Inter", sans-serif;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-50 dark:bg-zinc-900 rounded-lg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-600 dark:bg-zinc-200 rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500 dark:bg-zinc-200;
  }
}